{% extends "questions/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'questions/css/question.css' %}">
{% endblock %}

{% block content %}
    <section class="questions"> 
        <div class="question-global">
            <div class="question-root">
                <div class="question-header">
                    <img class="question-avatar" src="{% static 'questions/img/reviewsphoto.png' %}">
                    <h4 class="question-question">{{question.question}}</h4>
                </div>
                <div>
                    <p class="question-text">{{question.description}}</p>
                </div>
                <div class="question-footer">
                    
                    <div class="like-container">
                        <button class="heart-button">
                            <img src="{% static 'questions/img/free-icon-font-heart-3916585.png' %}" alt="Лайк">
                        </button>
                        <span class="like-count">2</span>
                    </div>
                        <div class="tag-list">
                        <a href="#" class="tag">black-jack</a>
                        <a href="#" class="tag">bender</a>
                    </div>
                </div>
            </div>

            <div class="question-commentory-list">
                
                <div class="your-comment-container">
                    <textarea 
                        class="your-comment-input" 
                        placeholder="Написать комментарий"
                        rows="1"
                    ></textarea>
                        <button class="submit-button inside-button">
                        <img src="{% static 'questions/img/free-icon-font-arrow-circle-up-6407327.png' %}" />
                    </button>
                </div>

                {% for a in questions_page %} 
                <div class="question-commentory-container">
                    <img class="avatar" src="{% static 'questions/img/reviewsphoto.png' %}">   
                    <div class="question-comment">
                        <p style="margin: 4px;">{{ a.text }}</p>
                        <div class="question-footer">
                    
                            <div class="like-container small">
                                <button class="heart-button">
                                    <img src="{% static 'questions/img/free-icon-font-heart-3916585.png' %}" alt="Лайк">
                                </button>
                                <span class="like-count">{{ a.likes }}</span>
                            </div>

                            
                            <div class="correct-container" role="status" aria-label="Correct">
                                <button class="correct-button">
                                    <img src="{% static 'questions/img/free-icon-font-rec-3917659.png' %}">
                                </button>
                                <span class="correct-label">Correct</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>

            {% include "questions/blocks/pagination.html" %}
            
        </div>
    </section>

    <script>
    const textarea = document.querySelector('.your-comment-input');

    textarea.addEventListener('input', function() {
        this.style.height = 'auto'; 
        this.style.height = this.scrollHeight + 'px'; 
    });
    </script>
{% endblock %}