*{
    box-sizing: border-box;
    font-family: YS Text, Arial, Helvetica, sans-serif;
}

body {
  background: #F0F2F5;
  margin: 0;
  padding: 0;
}

/* main */

.main{
    padding: 10px 5%;
    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 310px;
    
}


/* HEADER */



.icon{
  width: 2.5em;
  height: 2.5em;

}

.name{
    font-size: 28px;
    font-weight: 600;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: 2% 5%;  
    padding-top: 1%;
    padding-bottom: 0.75%;   
    position: fixed;        
    background-color: #F0F2F5;
 
    
}

.logo{
    display: flex;
    flex-direction: row; 
    gap:10px;
    align-items: center;
    white-space: nowrap; 
    color: black;
    text-decoration: none;
    transition: opacity 0.2s;
    margin-right: 8%;
}

.logo:active {
    opacity: 0.65; 
}

.logo .name {
    margin: 0;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.search-box {
    width: 100%;
    padding: 5px 60px 5px 20px;
    font-size: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    outline: none;
    background-color: #e6e8ec;
    transition: border-color 0.2s;
    transition: background-color 0.2s;
    flex: 0 0 auto;
}

.search-container:has(.search-box:hover) .search-box,
.search-container:has(.search-button:hover) .search-box {
    background-color: #e1e3e8;
    border-color: #c5c7cd;
}
.search-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;   
    cursor: pointer;
    padding: 4px;
    /* transition: transform 0.15s ease;   */
}

/* .search-button:active {
    transform: translateY(-50%) scale(0.5); 
} */


.search-box:focus {
  background-color: white !important;
  border-color: black !important;
}

.search-icon{
    width: 20px;
    transition: color 0.2s;
    color: #abadb4;
}

.search-container:has(.search-box:hover) .search-icon,
.search-container:has(.search-button:hover) .search-icon {
  color: #81848f;
}

.search-box:focus + .search-button .search-icon {
  color: #000; 
}

.auth-section{
    flex: 0 0 auto;
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-right: 20px;
    margin-left: 115px;
}

.auth-setting{
    display: flex;
    gap:15px;
}

.ask-button{
    margin-right: 1.5em;
}

.avatar{
    width: 40px;
    height: 40px;

}

.auth-links {
    text-decoration: none;
    font-size: 16px;    
    color: rgb(13, 110, 253);
    transition: color 0.2s ease;
}

.auth-links:hover{
    color: black;
}




/* ASIDE */


.aside{
    margin-top: 10px;
    margin-left: 38%;
}

.aside-tags{
    margin-bottom: 8px;
}

.aside-tags-list{
    display: flex;
    flex-wrap: wrap;   
}

.aside-subtitile{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 16px;
}

.tag {
    text-decoration: none;
    font-size: 16px;    
    color: rgb(13, 110, 253);
    margin-right: 6px;
    transition: color 0.2s ease;
}

.tag:hover{
    color: black;
}

.aside-members-list{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.aside-member{
    text-decoration: none;
    font-size: 16px;    
    color: rgb(13, 110, 253);
    transition: color 0.2s ease;
}

.tag:hover{
    color: black;
}


.mobile-search-button {
    display: none;  
}

.mobile-search-overlay {
    display: none; 
}

.ask-question-btn{
    display: none;    
}

.auth-details{
    margin-left: 5px;
}


/* mobile.css */
@media (max-width: 850px) {
    /* Принудительное переопределение */
    .main{
        padding: 10px;
        padding-top: 90px;
        display: grid;
        grid-template-columns: 1fr;
        
    }   

    .nav-bar {
        padding: 1rem;
        height: auto;
        flex-wrap: nowrap;
        gap: 0.5rem;
        justify-content: space-between; 
        height: 70px !important;
        
    }


    .icon{
        width: 2em;
        height: 2em;

    }
    .name{
        font-size: 20px;
    }

    .search-container {
        display: none; 
    }
    
    .mobile-search-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 4px;
        color: #81848f;
        display: block; 
    }

    .search-icon{
        width: 20px;
        transition: color 0.2s;
        color: #abadb4;
    }

    
    .auth-section {
        order: 2 !important;
        margin: 0 !important;
        justify-content: center !important;

    }

    .ask-button{
        display: none;
    }

    .avatar{
        width: 40px;
        height: 40px;
    }

    .auth-details{
        display: none;    
    }
    
    .aside {
        display: none;
    }


    /* поисковик контейнер */

    .mobile-search-container {
        position: absolute; 
        top: 10%; 
        left: 5vw;
        right: 5vw; 
        width: auto; 
        display: none;
        z-index: 1000;
        background: #F0F2F5; 
        padding: 10px 0; 
    }

    .search-box {
        width: 100%;
        padding: 5px 60px 5px 20px;
        font-size: 16px;
        border: 1px solid #e6e6e6;
        border-radius: 8px;
        outline: none;
        background-color: #e6e8ec;
        transition: border-color 0.2s;
        transition: background-color 0.2s;
        flex: 0 0 auto;
    }

    .mobile-search-container:has(.search-box:hover) .search-box,
    .mobile-search-container:has(.mobile-search-expand-button:hover) .search-box {
        background-color: #e1e3e8;
        border-color: #c5c7cd;
    }
    .mobile-search-expand-button {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        padding: 4px;
    
    }

    .search-box:focus {
        background-color: white !important;
        border-color: black !important;
    }

    .mobile-search-icon-expand{
        width: 20px;
        transition: color 0.2s;
        color: #abadb4;
    }

    .mobile-search-container:has(.search-box:hover) .mobile-search-icon-expand,
    .mobile-search-container:has(.mobile-search-expand-button:hover) .mobile-search-icon-expand {
        color: #81848f;
    }

    .search-box:focus + .mobile-search-expand-button .mobile-search-icon-expand {
        color: #000; 
    }

    .ask-question-btn {
   
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        margin-left: 12px;
        margin-right: 0.4em;
    }

    .ask-question-btn:active {
        transform: scale(0.9);
        transition: transform 0.1s ease;
    }
    
    .ask-question-icon {
        fill: #81848f;
        width: 24px;
        height: 24px;
    }
}
