.questions{
    width: 61%;
    margin-left: 35%;
}

.question-global{
    background-color: white;
    border-radius: 16px;
    padding: 20px 24px;
    box-shadow: 0 2px 4px 0 rgba(32, 35, 51, .02), 0 1px 1px 0 rgba(32, 35, 51, .04);
    margin-bottom: 40PX;
}

.login-title{
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.login-list{
    display: flex;
    flex-direction: column;
    gap:16px;
}



.login-input-container{
    display: flex;
    flex-direction: column;
    gap:2px;
}

.login-label{
    color:#797A80;
    font-size: 14px;
}

.login-input{
    width: 100%;
    background-color: #eff0f2;
    border: 1px solid white;
    border-radius: 16px;
    padding: 12px; 
    font-size: 16px;
    outline: none;
}

.login-input:hover{
    outline: none;
}

.setting-save{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.error{
    padding-top: 4px;
    font-size: 14px;
    color:#ed330a;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* mobile.css */
@media (max-width: 850px) {
    .questions{
        width: 100%;
        margin: 0%;
        display: flex;
        flex-direction: column;
    }     
    .question-global{
        margin-left: 16px;
        margin-right: 16px;
    }


}