
.questions{
    width: 75%;
    margin-left: 25%;

}

.question-global{
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(32, 35, 51, .02), 0 1px 1px 0 rgba(32, 35, 51, .04);
    margin-bottom: 40PX;
}



.question-root{
    margin-bottom: 24px;
}

.question-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    object-fit: cover;  
}

.question-header{
    margin-bottom: 10px;
    display: flex;
    gap:16px;
    align-items: center;
}

.question-question{
    text-decoration: none;
    color:#000;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.question-text{
    margin-bottom: 4px;
    display: inline-block;
}

.question-footer{
    display: flex;
    gap: 20px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.like-container {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    /* border: 1px solid #000; */
    border-radius: 8px;
    padding: 5px 5px;
}


.heart-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s ease;
}

.heart-button:hover {
    transform: scale(1.1);
}

.heart-button img {
    width: 22px;
    height: 22px;
    transition: filter 0.2s ease;
}

.like-count {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.like-container.small {
    gap: 5px;
    padding: 2px 3px;
}

.like-container.small .heart-button img {
    width: 18px;
    height: 18px;
}   

.like-container.small .like-count{
    font-size: 14px;
}  

.tag-list {
    display: flex;           
    flex-wrap: wrap;        
    gap: 12px;    
    align-items: center;          
}


.question-commentory-list{
    display: flex;
    flex-direction: column;
    gap:20px;
}




.your-comment-container {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    position: relative; 
}

.your-comment-input {
    width: 100%;
    background-color: #eff0f2;
    border: 1px solid white;
    border-radius: 16px;
    padding: 16px 50px 16px 16px; 
    font-size: 16px;
    transition: all 0.2s ease;
    resize: none !important;
    overflow: hidden;
}

.your-comment-input:focus,
.your-comment-input:not(:placeholder-shown) {
    outline: none;
    border: 1px solid black;
    background-color: white;
}


.submit-button.inside-button {
    position: absolute;
    right: 12px;
    bottom: 17px;  
    background: transparent;
    border: none;
    padding: 0;   
    cursor: pointer;
    transition: transform 0.15s ease;
}

.submit-button.inside-button img {
    width: 36px;  
    height: 36px;
}

.submit-button.inside-button:active {
    transform: scale(0.975); 
}

.question-commentory-container{
    display: flex;
    gap:8px;
}

.question-comment{
    background-color: #f7f7f9;
    padding: 12px 16px 8px; 
    border-radius: 0 16px 16px;
    font-size: 14px;
    width: 75%;
}




.correct-container{
    display: flex;
    align-items: center;
    gap: 6px;
}

.correct-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.1s ease;
}


.correct-button img{
    width: 16px;
    height: 16px;
    transition: filter 0.2s ease;
}

.correct-button:hover {
    transform: scale(1.1);
}

.correct-label{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}



.pagination{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.page-link {
    display: flex;  
    justify-content: center;  
    align-items: center;      
    text-align: center; 
    padding: 0;
    color: black;
    border-radius: 50%; 
    transition: all 0.2s;
    background-color: white;
    width: 38px;
    height: 38px;
    border: none;
    line-height: 1;  
    font-size: 16px;  
    text-decoration: none;  
}

.page-link:hover {
    background-color: #f2f2f2;
    color: #000;
}

.page-link.active{
    background-color: #f2f2f2;
    color: #000;    
}

.page-link:focus{
    background-color: #f2f2f2;
    color: #000;    
    border: none;
    outline: none;
    box-shadow: none;
}


/* mobile.css */
@media (max-width: 850px) {
    .questions{
        width: 100%;
        margin: 0%;
        display: flex;
        flex-direction: column;
    }     
    .question-global{
        margin-left: 16px;
        margin-right: 16px;
    }


}