
.questions{
    width: 61%;
    margin-left: 35%;
}

.question-global{
    background-color: white;
    border-radius: 16px;
    padding: 20px 24px;
    box-shadow: 0 2px 4px 0 rgba(32, 35, 51, .02), 0 1px 1px 0 rgba(32, 35, 51, .04);
    margin-bottom: 40PX;
}

.setting-title{
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px;
}

.inputs-list{
    display: flex;
    flex-direction: column;
    gap:24px;
}



.avatar-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100px;
  border-radius: 50%;
}

.setting-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #F0F2F5;
  transition: 0.3s ease;
}

.setting-avatar:hover {
  opacity: 0.8;
}

.avatar-input {
  display: none; 
}


.setting-input-container{
    display: flex;
    flex-direction: column;
    gap:2px;
}

.setting-label{
    color:#797A80;
    font-size: 14px;
}

.setting-input{
    width: 100%;
    background-color: #eff0f2;
    border: 1px solid white;
    border-radius: 16px;
    padding: 12px; 
    font-size: 16px;
    outline: none;
}

.setting-input:hover{
    outline: none;
}





/* mobile.css */
@media (max-width: 850px) {
    .questions{
        width: 100%;
        margin: 0%;
        display: flex;
        flex-direction: column;
    }     
    .question-global{
        margin-left: 16px;
        margin-right: 16px;
    }


}
