{% extends "questions/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'questions/css/settings.css' %}">
{% endblock %}

{% block content %}
    <section class="questions">
        <div class="question-global">
            <h4 class="setting-title">Settings: {{user_data.0.NickName}}</h4>
            <div class="inputs-list">
                <label class="avatar-wrapper">
                    <img
                        class="setting-avatar"
                        src="{% static 'questions/img/reviewsphoto.png' %}"
                        alt="Ваш аватар"
                    />
                    <input type="file" accept="image/*" class="avatar-input" />
                </label>   

                <div class="setting-input-container">
                    <label class="setting-label" for="login">Login</label>
                    <input class="setting-input" type="text" id="login" placeholder="Введите ваш логин" value="{{user_data.0.Login}}">
                </div> 
                <div class="setting-input-container">
                    <label class="setting-label" for="email">Email</label>
                    <input class="setting-input" type="text" id="email" placeholder="Введите ваш email" value="{{user_data.0.Email}}">
                </div> 
                <div class="setting-input-container">
                    <label class="setting-label" for="nickname">NickName</label>
                    <input class="setting-input" type="text" id="nickname" placeholder="Введите ваш ник" value="{{user_data.0.NickName}}">
                </div> 
                <div class="setting-save">
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}