{% extends "questions/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'questions/css/tag.css' %}">
{% endblock %}

{% block content %}
    <section class="questions"> 
        <div class="questions-title">
            <h4 class="title">Tag: {{tag_name}}</h4>
        </div>

        {% if questions_page.object_list %}
            {% include "questions/blocks/questions.html" %}
            {% include "questions/blocks/pagination.html" %}
        {% else %}
            <h5>Упс, вопросов с таким тегом пока нет.</h5>
        {% endif %}
    </section>
{% endblock %}


       