
{% extends "questions/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'questions/css/ask.css' %}">
{% endblock %}

{% block content %}
    <section class="question"> 
        <div class="question-title">
            <h4 class="title">New question</h4>   
        </div>
        <div class="question-content">
            
            <textarea 
                class="question-title-input" 
                placeholder="Ваш цепляющий заголовок"
                rows="1"
            ></textarea>     
            
            <textarea 
                class="question-root-input" 
                placeholder="Что вы хотите рассказать или спросить?"
                rows="12"
            ></textarea>     
            
        </div>

        <div class="question-tag-container">
            <textarea 
                class="question-tag-input" 
                placeholder="Ваши чудесные теги"
                rows="1"
            ></textarea> 
        </div>
        <div class="write-button">
            <button type="button" class=" btn btn-primary ">Спросить</button>
        </div>
        
    </section>

   <script>  
        document.addEventListener('DOMContentLoaded', () => {
            const titleInput = document.querySelector('.question-title-input');
            const rootInput = document.querySelector('.question-root-input');

            titleInput.addEventListener('keydown', (e) => {
            if (e.key === 'Enter') {
                e.preventDefault(); 
                rootInput.focus();  
            }
            });
        });
    </script>
{% endblock %}
