{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A</title>

    {% bootstrap_css %}
    <link rel="icon" type="image/png" href="{% static 'questions/img/free-icon-font-brain-doubt-17818940.png' %}">

    <link rel="stylesheet" href="{% static 'questions/css/base.css' %}">
    {% block extra_css %}{% endblock %}

</head>
<body>
    
    {% block header %}
    <header class="nav-bar">
        <a href="{% url 'index' %}" class="logo">
            <img class="icon" src="{% static 'questions/img/free-icon-font-calendar-lines-7602618.png' %}"> 
            <h1 class="name">Ask Pupkin</h1>  
        </a>
        <div class="search-container">
            <input type="text" class="search-box" placeholder="Поиск по вопросам и ответам">
            <button class="search-button">
                <svg class="search-icon" width="20" height="20" viewBox="0 0 24 24">
                    <path d="M21 21l-5.2-5.2M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16z" 
                        stroke="currentColor" stroke-width="2" fill="none"/>
                </svg>
            </button>
        </div>

        

        <div class="auth-section">

            <!-- Кнопка поиска для мобильных -->
            <button class="mobile-search-button" aria-label="Открыть поиск">
                <svg class="mobile-search-icon" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M21 21l-5.2-5.2M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16z" 
                        stroke="currentColor" stroke-width="2" fill="none"/>
                </svg>
            </button>


            <!-- Полноэкранный поиск для мобильных -->
            <div class="mobile-search-container">
                <input type="text" class="search-box" placeholder="Поиск по вопросам ">
                <button class="mobile-search-expand-button">
                    <svg class="mobile-search-icon-expand" width="20" height="20" viewBox="0 0 24 24">
                        <path d="M21 21l-5.2-5.2M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16z" 
                            stroke="currentColor" stroke-width="2" fill="none"/>
                    </svg>
                </button>
            </div>



            <a class="ask-button" href="{% url 'ask' %}">
                <button type="button" class="ask btn btn-primary ">Задать вопрос</button> 
            </a>

            <a href="{% url 'ask' %}" class="ask-question-btn">
                <svg class="ask-question-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                    <path d="M18.656.93,6.464,13.122A4.966,4.966,0,0,0,5,16.657V18a1,1,0,0,0,1,1H7.343a4.966,4.966,0,0,0,3.535-1.464L23.07,5.344a3.125,3.125,0,0,0,0-4.414A3.194,3.194,0,0,0,18.656.93Zm3,3L9.464,16.122A3.02,3.02,0,0,1,7.343,17H7v-.343a3.02,3.02,0,0,1,.878-2.121L20.07,2.344a1.148,1.148,0,0,1,1.586,0A1.123,1.123,0,0,1,21.656,3.93Z"/>
                    <path d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2h9.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H16.343a4.968,4.968,0,0,0,3.536-1.464l2.656-2.658A4.968,4.968,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.465,21.122a2.975,2.975,0,0,1-1.465.8V18a1,1,0,0,1,1-1h3.925a3.016,3.016,0,0,1-.8,1.464Z"/>
                </svg>
            </a>
            
            {% if user.is_authenticated %}

                <a class="" href="{% url 'settings' %}">
                    <img class="avatar" src="{{ user.userprofile.avatar_url }}">
                </a>
                
                <div class="auth-details">
                    <h6>{{ user.userprofile.nickname }}</h6>
                    <div class="auth-setting">
                        <a class="auth-links" href="{% url 'settings' %}">settings</a>
                        <a class="auth-links" href="{% url 'logout' %}">log out</a>
                    </div>
                </div>
            {% else %}
                <a class="enter-button" href="{% url 'login' %}">
                    <button type="button" class=" btn btn-primary ">Войти</button> 
                </a>
            {% endif %}
        </div>
    </header>
    {% endblock header %}


    <main class="main">

        {% block content %}
        {% endblock %}

        <aside class="aside">
            <div class="aside-tags">
                <span class="aside-subtitile">Popular tags</span>
                <div class="aside-tags-list">
                    {% for popular_tag in popular_tags %}
                        <a class="tag" href="{% url 'tag' popular_tag %}">{{popular_tag}}</a>
                    {% endfor %}
                    
                </div>
            </div>

            <div class="aside-members">
                <span class="aside-subtitile">Best Members</span>
                <div class="aside-members-list">
                    {% for user in best_members %}
                            <a class="aside-member" href="{% url 'user' user %}">{{user}}</a>
                    {% endfor %}
                </div>
            </div>
        </aside>

    </main>


    <script src="{% static 'questions/js/base.js' %}"></script>
</body>
</html>