{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A</title>

    {% bootstrap_css %}
    <link rel="icon" type="image/png" href="{% static 'questions/img/free-icon-font-brain-doubt-17818940.png' %}">

    <link rel="stylesheet" href="{% static 'questions/css/base.css' %}">
    {% block extra_css %}{% endblock %}

</head>
<body>
    
    {% block header %}
    <header class="nav-bar">
        <a href="{% url 'index' %}" class="logo">
            <img class="icon" src="{% static 'questions/img/free-icon-font-calendar-lines-7602618.png' %}"> 
            <h1 class="name">Ask Pupkin</h1>  
        </a>
        <div class="search-container">
            <input type="text" class="search-box" placeholder="Поиск по вопросам и ответам">
            <button class="search-button">
                <svg class="search-icon" width="20" height="20" viewBox="0 0 24 24">
                    <path d="M21 21l-5.2-5.2M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16z" 
                        stroke="currentColor" stroke-width="2" fill="none"/>
                </svg>
            </button>
        </div>
        <div class="auth-section">
            <a href="{% url 'ask' %}">
                <button type="button" class="ask btn btn-primary ">Задать вопрос</button> 
            </a>
            {% if is_authenticated %}
                <img class="avatar" src="{% static 'questions/img/reviewsphoto.png' %}">
                <div>
                    <h6>{{user_data.0.NickName}}</h6>
                    <div class="auth-setting">
                        <a class="auth-links" href="{% url 'settings' %}">settings</a>
                        <a class="auth-links" href="#">log out</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}">
                    <button type="button" class=" btn btn-primary ">Войти</button> 
                </a>
            {% endif %}
        </div>
    </header>
    {% endblock header %}


    <main class="main">

        {% block content %}
        {% endblock %}

        <aside class="aside">
            <div class="aside-tags">
                <span class="aside-subtitile">Popular tags</span>
                <div class="aside-tags-list">
                    {% for popular_tag in popular_tags %}
                        <a class="tag" href="{% url 'tag' popular_tag %}">{{popular_tag}}</a>
                    {% endfor %}
                    
                </div>
            </div>

            <div class="aside-members">
                <span class="aside-subtitile">Best Members</span>
                <div class="aside-members-list">
                    {% for user in best_members %}
                            <a class="aside-member" href="{% url 'user' user %}">{{user}}</a>
                    {% endfor %}
                </div>
            </div>
        </aside>

    </main>

</body>
</html>