{% extends "questions/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'questions/css/index.css' %}">
{% endblock %}

{% block content %}
<section class="questions"> 
    <div class="questions-title">
        <h4 class="title">New questions</h4>
        <a class="question-hot" href="{% url 'hot_questions' %}">Hot Questions</a>
    </div>
    
    {% include "questions/blocks/questions.html" %}

    {% include "questions/blocks/pagination.html" %}
    
</section>
{% endblock %}

