
{% extends "questions/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'questions/css/login.css' %}">
{% endblock %}

{% block content %}
    <section class="questions">
        <div class="question-global">
            <h4 class="login-title">Log in</h4>

            <form action="" method="post"  class="login-list">
                {% csrf_token %}

                {% include "questions/blocks/form_errors.html" with form=form %}

                <div class="login-input-container">
                    <label class="login-label" for="username">Логин</label>
                    <input class="login-input {% if form.username.errors %}is-invalid{% endif %}" name="username"  type="text" id="username" placeholder="Введите ваш логин">
                    {% include "questions/blocks/form_field_errors.html" with field=form.username %}
                </div> 


                <div class="login-input-container">
                    <label class="login-label" for="password">Пароль</label>
                    <input class="login-input {% if form.username.errors %}is-invalid{% endif %}" name="password"  type="password" id="password" placeholder="Введите ваш пароль">
                    {% include "questions/blocks/form_field_errors.html" with field=form.password %}
                </div> 


                <div class="setting-save">
                    <button type="submit" class="btn btn-primary">Log in</button>
                    <a class="tag" href="{% url 'signup' %}">Создать новый аккаунт</a>
                </div>

            </form>
        </div>
    </section>
{% endblock %}
   

