{% extends "questions/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'questions/css/question.css' %}">
{% endblock %}

{% block content %}
    <section class="questions"> 
        <div class="question-global">
            <div class="question-root">
                <div class="question-header">
                    <img class="question-avatar" src="{{question.user_id.userprofile.avatar_url}}">
                    <h4 style="white-space: pre-wrap;" class="question-question">{{question.title}}</h4>
                </div>
                <div>
                    <p style="white-space: pre-wrap;" class="question-text">{{question.text}}</p>
                </div>
                <div class="question-footer">
                    
                    <div class="like-container">
                        <button class="heart-button">
                            <img src="{% static 'questions/img/free-icon-font-heart-3916585.png' %}" alt="Лайк">
                        </button>
                        <span class="like-count">{{question.like_count}}</span>
                    </div>
                        <div class="tag-list">
                        {% for t in question.tags.all %} 
                            <a href="{% url 'tag' t %}" class="tag">{{t}}</a>
                        {% endfor %}
                       
                    </div>
                </div>
            </div>

            <div class="question-commentory-list">
                
                <form action="" method="post" class="your-comment-container">
                    {% csrf_token %}
                   
                    <textarea 
                        class="your-comment-input {% if form.title.errors %}is-invalid{% endif %}" 
                        placeholder="Написать комментарий"
                        rows="1"
                        name="text"
                        id="anw_button"
                    >{{ form.text.value|default_if_none:'' }}</textarea>
                    <button type="submit" class="submit-button inside-button">
                        <img src="{% static 'questions/img/free-icon-font-arrow-circle-up-6407327.png' %}" />
                    </button>
                </form>
                
                {% for a in questions_page %} 
                <div id="answer_{{ a.id }}" class="question-commentory-container">
                    <img class="avatar" src="{{ a.user_id.userprofile.avatar_url }}">   
                    <div class="question-comment">
                        <p style="white-space: pre-wrap; margin: 4px;">{{ a.text }}</p>
                        <div class="question-footer">
                            
                            <div class="like-container small">
                                <button class="heart-button">
                                    <img src="{% static 'questions/img/free-icon-font-heart-3916585.png' %}" alt="Лайк">
                                </button>
                                <span class="like-count">{{ a.like_count }}</span>
                            </div>

                            
                            <div class="correct-container" role="status" aria-label="Correct">
                                <button class="correct-button">
                                    <img src="{% static 'questions/img/free-icon-font-rec-3917659.png' %}">
                                </button>
                                <span class="correct-label">Correct</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>

            {% include "questions/blocks/pagination.html" %}
            
        </div>
    </section>

    <script>
    const textarea = document.querySelector('.your-comment-input');

    textarea.addEventListener('input', function() {
        this.style.height = 'auto'; 
        this.style.height = this.scrollHeight + 'px'; 
    });
    
    </script>
{% endblock %}