{% extends "questions/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'questions/css/signup.css' %}">
{% endblock %}

{% block content %}
    <section class="questions">
        <div class="question-global">
            <h4 class="signup-title">Registration</h4>
            <div class="signup-list">
                <label class="avatar-wrapper">
                    <img
                        class="setting-avatar"
                        src="{% static 'questions/img/reviewsphoto.png' %}"
                        alt="Ваш аватар"
                    />
                    <input id="photo" type="file" accept="image/*" class="avatar-input" />
                </label>   

                <div class="signup-input-container">
                    <label class="signup-label" for="login">Логин</label>
                    <input class="signup-input" type="text" id="login" placeholder="Введите ваш логин" required>
                </div>

                <div class="signup-input-container">
                    <label class="signup-label" for="email">Email</label>
                    <input class="signup-input" type="email" id="email" placeholder="Введите ваш email" required>
                    <span class="error">Sorry, this email address already registred!</span>                   
                </div>

                <div class="signup-input-container">
                    <label class="signup-label" for="nickname">Nickname</label>
                    <input class="signup-input" type="text" id="nickname" placeholder="Введите ваш ник" required>
                </div>

                <div class="signup-input-container">
                    <label class="signup-label" for="password">Пароль</label>
                    <input class="signup-input" type="password" id="password" placeholder="Введите пароль" required minlength="6">
                </div>

                <div class="signup-input-container">
                    <label class="signup-label" for="confirm-password">Повторите пароль</label>
                    <input class="signup-input" type="password" id="confirm-password" placeholder="Повторите пароль" required minlength="6">
                </div>
                <div class="setting-save">
                    <button type="button" class="btn btn-primary">Сохранить</button>
                    <!-- <a class="tag" href="#">Создать новый аккаунт</a> -->
                </div>

            </div>
        </div>
    </section>
{% endblock %} 
