{% extends "questions/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'questions/css/index.css' %}">
{% endblock %}

{% block content %}
<section class="questions"> 
    <div class="questions-title">
            <h4 class="title">Вопросы пользователя {{nickname}}</h4>
    </div>
    
    {% if questions_page.object_list %}
        {% include "questions/blocks/questions.html" %}
        {% include "questions/blocks/pagination.html" %}
    {% else %}
        <h5 class="questions-content">Упс, пользоватля {{nickname}} нет или он еще не оставлял вопросы.</h5>
    {% endif %}
</section>
{% endblock %}

