*{
    box-sizing: border-box;
    font-family: YS Text, Arial, Helvetica, sans-serif;
}

body {
  background: #F0F2F5;
  margin: 0;
  padding: 0;

}

/* main */

.main{
    padding: 10px 5%;
    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 310px;
}

.question{
    width: 75%;
    margin-left: 25%;

}

.question-title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 16px;
}

.title{
    font-weight: bold;
    margin: 0;
}


.question-content{
    display: flex;
    flex-direction:column;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(32, 35, 51, .02), 0 1px 1px 0 rgba(32, 35, 51, .04);
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    margin-bottom: 16px;
}

.question-title-input {
    width: 100%;
    border: none;
    font-size: 24px;
    transition: all 0.2s ease;
    resize: none !important;
    overflow: hidden;
    padding: 24px 16px 0px 16px;  
    border-bottom: 1px solid #dedee1;     
}

.question-title-input:focus {
  outline: none; 
  
}

.question-root-input{
    width: 100%;
    border: none;
    font-size: 16px;
    transition: all 0.2s ease;
    resize: none !important;
    overflow: hidden;
    padding: 16px;
}

.question-root-input:focus {
  outline: none; 
  border: none;  
}



.question-tag-container{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(32, 35, 51, .02), 0 1px 1px 0 rgba(32, 35, 51, .04);
    border-radius: 0 0 16px 16px;
    overflow: hidden;
}

.question-tag-input{
    width: 100%;
    border: none;
    font-size: 16px;
    transition: all 0.2s ease;
    resize: none !important;
    overflow: hidden;
    padding: 16px;
}

.question-tag-input:focus {
  outline: none; 
  border: none;  
}