{% load static %}
<div class="questions-content">

        {% for q in questions_page %}
        <div class="question-root">
            <div class="question-header">
                <img class="avatar" src="{{ q.user_id.userprofile.avatar_url }}">
                <a class="question-question" href="{% url 'question' q.id %}">{{ q.title }}</a>
            </div>
            <div>
                <p style="white-space: pre-wrap;">{{ q.text }}</p>
            </div>
            <div class="question-footer">
                <a class="comment-link" href="{% url 'question' q.id %}">
                    <div class="comment-container">
                        <img src="{% static 'questions/img/free-icon-font-comments-5074600.png' %}" alt="Комментарии">
                        <span class="comment-count">{{ q.answer_count }}</span>
                    </div>
                </a>    

                <div class="like-container">
                    <button class="heart-button">
                        <img src="{% static 'questions/img/free-icon-font-heart-3916585.png' %}" alt="Лайк">
                    </button>
                    <span class="like-count">{{q.like_count}}</span>
                </div>


                <div class="tag-list">
                {% for t in q.tags.all %} 
                    <a href="{% url 'tag' t %}" class="tag">{{t}}</a>
                {% endfor %}
                </div>
            </div>
        </div> 
        {% endfor %}

    </div>