.aside{
    margin-top: 10px;
    margin-left: 38%;
}

.aside-tags{
    margin-bottom: 8px;
}

.aside-tags-list{
    display: flex;
    flex-wrap: wrap;   
}

.aside-subtitile{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 16px;
}

.tag {
    text-decoration: none;
    font-size: 16px;    
    color: rgb(13, 110, 253);
    margin-right: 6px;
    transition: color 0.2s ease;
}

.tag:hover{
    color: black;
}

.aside-members-list{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.aside-member{
    text-decoration: none;
    font-size: 16px;    
    color: rgb(13, 110, 253);
    transition: color 0.2s ease;
}

.tag:hover{
    color: black;
}
